<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @child.surname %>
</p>

<p>
  <strong>Breakfast:</strong>
  <%= @child.breakfast %>
</p>

<p>
  <strong>Souptime:</strong>
  <%= @child.souptime %>
</p>

<p>
  <strong>Sleep:</strong>
  <%= @child.sleep %>
</p>

<p>
  <strong>Secondcourse:</strong>
  <%= @child.secondcourse %>
</p>

<p>
  <strong>Snack:</strong>
  <%= @child.snack %>
</p>

<p>
  <strong>Supplies:</strong>
  <%= @child.supplies %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @child.comment %>
</p>

<p>
  <strong>Dates:</strong>
  <%= @child.dates %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
